// Converter ttf to woff & woff2: https://transfonter.org

@mixin font($fontFamily, $fileName, $fontWeight, $fontStyle) {
    @font-face {
        font-display: swap;
        font-family: $fontFamily;
        src: url("./../fonts/#{$fileName}.woff2") format("woff2"), url("./../fonts/#{$fileName}.woff") format("woff");
        font-weight: #{$fontWeight};
        font-style: #{$fontStyle};
    }
}

@include font("Barlow", "Barlow-Light", "300", "normal");
@include font("Barlow", "Barlow-Regular", "400", "normal");
@include font("Barlow", "Barlow-Medium", "500", "normal");
